{
  "exclude": ["/\/node_modules\//"],
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "pragma": "React.createElement",
        "pragmaFrag": "React.Fragment",
        "importSource": "@emotion/react"
      }
    },
    "target": "es2015",
    "loose": false,
    "externalHelpers": false,
    "keepClassNames": false,
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-transform-imports",
          {
            "react-bootstrap": {
              "transform": "react-bootstrap/lib/{{member}}"
            },
            "lodash": {
              "transform": "lodash/{{member}}"
            }
          }
        ]
        
      ]
    }
  },
  "module": {
    "type": "commonjs"
  }
}
